.App {
  text-align: left;
  height: 100%;
}

.App-logo {
  height: 48px;
}

.App-header {
  background-color: white;
  padding: 16px;
}

.App-title {
  font-size: 1.5em;
}

.App-content {
  background-color: #eee;
  padding: 20px;
  height: 100%;
}

.distance {
  padding: 8px;
  background-color: #fff;
  border: 1px solid black;
  border-radius: 5px;
  margin-top: 8px;
}